aside {
	width:320px;
	background: #fff;
	box-shadow:0 0 14px 0 rgba(0, 0, 0, 0.2);
	border-radius:2px;
	padding: 30px 20px;
}

aside strong {
	font-size:20px;
	text-align:center;
	display:block;
	color:#333;
}

aside form {
	margin-top:30px;
}

aside form .input-block + .input-block {
	margin-top:20px;
}

aside form .input-block label {
	color: #acacac;
	font-size: 14px;
	font-weight:bold;
	display:block;
}

aside form .input-block input {
	width:100%;
	height:32px;
	font-size:14px;
	color:#666;
	border:0;
	border-bottom: 1px solid #eee;
}

aside form .input-block textarea {
	border:0;
	border-bottom:1px solid #eee;
	width:100%;
	max-width:100%;
	height:32px;
	padding:6px 0;
	font-size:16px;
	color:#666;
	

}

aside form button[type=submit] {
	width: 100%;
	border:0;
	margin-top:30px;
	background:#7d40e7;
	border-radius: 2px;
	padding:15px 20px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	cursor:pointer;
	transition:background 0.5s;
}

aside form button[type=submit]:hover {
	background:#6931ca;
}

